

               <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                  <script type="text/javascript">
                    google.charts.load("current", {packages:["corechart"]});
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                      // Grab department data
                      $.get("/deptdata", function(data) {
                        // Google uses a pretty weird way of dealing with data. So, let's
                        // modify it a little bit
                        var arrayData = [['Department', 'Total']];
                        for(var i = 0; i < data.length; i ++) {
                          arrayData.push([data[i].name, data[i].total]);
                        }
                        console.log(arrayData);

                        var chartData = google.visualization.arrayToDataTable(arrayData);

                        var options = {
                          title: 'City Budget By Department',
                          is3D: true,
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                        chart.draw(chartData, options);
                      });
                    }
                  </script>
                </head>
                <body>
                  <!-- <div id="piechart_3d" style="width: 900px; height: 500px;"></div> -->
  <div id="piechart_3d" style="width: 75%; height: 500px;"></div>

<div>

  <h1>Contents: City Departments</h1>
  <a href = "https://www.cabq.gov/pets" target="_blank">Animal Welfare</a>
  <a href = "http://web.abq.org/Government/City-of-Albuquerque,-Aviation-Department-207" target="_blank">Aviation Department</a>
  <a href = "https://www.cabq.gov/clerk" target ="_blank">City Clerk's Office</a>
  <a href = "https://www.cabq.gov/council" target = "_blank">City Council</a>
  <a href = "https://www.cabq.gov/cpoa" target="_blank">Civilian Police Oversight Agency</a>
  <a href = "https://www.cabq.gov/culturalservices" target="_blank">Cultural Services Department</a>
  <a href = "http://www.abq.org/" target="_blank">Economic Development</a>
  <a href = "https://www.cabq.gov/office-of-emergency-management" target="_blank">Emergency Management Office</a>
  <a href = "https://www.cabq.gov/environmentalhealth" target="_blank">Environmental Health Department</a>
  <a href = "https://www.cabq.gov/family" target="_blank">Family & Community Services Department</a>
  <a href = "https://www.cabq.gov/dfa" target="_blank">Finance & Administrative Services Department</a>
  <a href = "https://www.cabq.gov/fire" target="_blank">Fire Department</a>
  <a href = "https://www.cabq.gov/humanresources/contact" target="_blank">Human Resources Department</a>
  <a href = "https://www.cabq.gov/audit" target="_blank">Internal Audit Office</a>
  <a href = "https://www.cabq.gov/legal" target="_blank">Legal Department</a>
  <a href = "https://www.cabq.gov/dfa/budget" target="_blank">Management & Budget Office</a>
  <a href = "https://www.cabq.gov/mayor/contact-us" target="_blank">Mayor's Office</a>
  <a href = "https://www.cabq.gov/municipaldevelopment" target="_blank">Municipal Development Department</a>
  <a href = "https://www.cabq.gov/parksandrecreation" target="_blank">Parks & Recreation Department</a>
  <a href = "http://www.cabq.gov/planning" target="_blank">Planning Department</a>
  <a href = "https://www.cabq.gov/police/" target="_blank">Police Department</a>
  <a href = "https://www.cabq.gov/seniors" target="_blank">Senior Affairs Department</a>
  <a href = "https://www.cabq.gov/solidwaste" target="_blank">Solid Waste Department</a>
  <a href = "https://www.cabq.gov/transit" target="_blank">Transit Department</a>
  <a href = "https://www.cabq.gov/technology-innovation" target="_blank">Technology & Innovation Department</a>

  <h1>Contents: City Departments</h1>
  {{#each depts}}
    <a href="/dept/{{deptID}}">{{name}}</a>
  {{/each}}
</div>

<hr>
      <!-- </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- </div>
  </div> -->
</div>
</div>
</body>
</html>
