<div class="container">
  <div class="jumbotron">
    <img src="/images/Albuquerque_skyline.jpg"
  </div>


</div>
      <!-- <div class="row">
        <div class="col-sm-12">
          <div class="boxa"> -->
            <h1 align: center>Albuquerque Budgets</h1> <h1 font-weight:700>Department revenue charts.</h1>
<!-- <p> Choose a department on the round circle on the right.  The budget data will be displayed.</p> -->
            <!-- <br><br><br><br><br><br><br> -->
            <h3>This website is privatly created based on publicly available data provided by the city of Albuquerque.</h3>
          </div>
        </div>

          <!-- <div class="col-sm-9">
            <div class="boxb"> -->
                      <!-- <a href="dept">Go to dept page -->
              <!-- <img src="./images/pie01.png"> -->

                  <!-- <h1>This is text</h1> -->
               <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                  <script type="text/javascript">
                    google.charts.load("current", {packages:["corechart"]});
                    google.charts.setOnLoadCallback(drawChart);
              var department1 = "Fire Department";
                var deptValue1 = 20
              var department2 = "Police Department";
              var deptValue2 = 30
              var department3 = "Dept of Redundacy Department";
              var deptValue3 = 40

                    function drawChart() {
                      var data = google.visualization.arrayToDataTable([
                        ['Task', 'Hours per Day'],
                        [department1,     deptValue1],
                        [department2,     deptValue2],
                        [department3,     deptValue3],
                        ['Watch TV', 2],
                        ['Sleep',    7],
                        ['Work',     11],
                        ['Eat',      2],
                        ['Commute',  2],
                        ['Watch TV', 2],
                        ['Sleep',    7],
                        ['Work',     11],
                        ['Eat',      2],
                        ['Commute',  2],
                        ['Watch TV', 2],
                        ['Sleep',    7]
                      ]);

                      var options = {
                        title: 'Department Budgets',
                        is3D: true,
                      };

                      var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                      chart.draw(data, options);
                    }
                  </script>
                </head>
                <body>
                  <!-- <div id="piechart_3d" style="width: 900px; height: 500px;"></div> -->
  <div id="piechart_3d" style="width: 75%; height: 500px;"></div>
<div>
  <
  <h1>Contents: City Departments</h1>
<a href = "#AnimalWelfare">Animal Welfair</a>
<a href = "#Aviation Department">Aviation Department</a>
<a href = "#CityClerksOffice">City Clerk's Office</a>
<a href = "#CityCouncil">City Council</a>
<a href = "#CivilianPoliceOversightAgency">Civilian Police Oversight Agency</a>
<a href = "#CulturalServicesDepartment">Cultural Services Department</a>
<a href = "#EconomicDevelopment">Economic Development</a>
<a href = "#EmergencyManagementOffice">Emergency Management Office</a>
<a href = "#EnvironmentalHealthDepartment">Environmental Health Department</a>
<a href = "#FamilyCommunityServicesDepartment">Family & Community Services Department</a>
<a href = "#FinanceAdministrativeServicesDepartment">Finance & Administrative Services Department</a>
<a href = "#FinanceAdministrativeServicesDepartment">Finance & Administrative Services Department</a>
<a href = "#FireDepartment">Fire Department</a>
<a href = "#HumanResourcesDepartment">Human Resources Department</a>
<a href = "#InternalAuditOffice">Internal Audit Office</a>
<a href = "#LegalDepartment">Legal Department</a>
<a href = "#ManagementBudgetOffice">Management & Budget Office</a>
<a href = "#Mayor's Office">Mayor's Office</a>
<a href = "#MunicipalDevelopmentDepartment">Municipal Development Department</a>
<a href = "#ParksRecreationDepartment">Parks & Recreation Department</a>
<a href = "#PlanningDepartment">Planning Department</a>
<a href = "#PoliceDepartment">Police Department</a>
<a href = "#SeniorAffairsDepartment">Senior Affairs Department</a>
<a href = "#SolidWasteDepartment">Solid Waste Department</a>
<a href = "#TransitDepartment">Transit Department</a>
<a href = "#TechnologyInnovationDepartment">Technology & Innovation Department</a>
<a href = "#SeniorAffairsDepartment">Senior Affairs Department</a>

        </div>

<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h1 id="AnimalWelfare">
This is animal welfare.  Here we pick up dogs and cats and kill them.
</h1>
<hr>

<hi> here we are at animal welfair</h1>

      <!-- </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- </div>
  </div> -->
</div>
</div>
</body>
</html>
