

               <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                  <script type="text/javascript">
                    google.charts.load("current", {packages:["corechart"]});
                    google.charts.setOnLoadCallback(drawChart);
              var department1 = "Fire Department";
                var deptValue1 = 20
              var department2 = "Police Department";
              var deptValue2 = 30
              var department3 = "Dept of Redundacy Department";
              var deptValue3 = 40

                    function drawChart() {
                      // Grab department data
                      $.get("/deptdata", function(data) {
                        // Google uses a pretty weird way of dealing with data. So, let's
                        // modify it a little bit
                        var arrayData = [['Department', 'Total']];
                        for(var i = 0; i < data.length; i ++) {
                          arrayData.push([data[i].name, data[i].total]);
                        }
                        console.log(arrayData);

                        var chartData = google.visualization.arrayToDataTable(arrayData);

                        var options = {
                          title: 'City Budget By Department',
                          is3D: true,
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                        chart.draw(chartData, options);
                      });
                    }
                  </script>
                </head>
                <body>
                  <!-- <div id="piechart_3d" style="width: 900px; height: 500px;"></div> -->
  <div id="piechart_3d" style="width: 75%; height: 500px;"></div>

<div>

  <h1>Contents: City Departments</h1>
  {{#each depts}}
    <a href="/dept/{{deptID}}">{{name}}</a>
  {{/each}}
</div>

<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h1 id="AnimalWelfare">
This is animal welfare.
This section is in development
</h1>
<hr>

<hi> here we are at animal welfare</h1>

      <!-- </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- </div>
  </div> -->
</div>
</div>
</body>
</html>
