<h1>This is the Main Page.</h1>

<a href = "dept">This is Our Data Page</a>
<div>
  <!-- <div class="jumbotron">
    <div class="container"> -->
      <img src="/images/800px-Albuquerque_aerial.jpg" align="middle">
    </div>
